<%- include('partials/header') %>

<form action="/users/login" method="post">
    <input type="text" name="username" placeholder="Benutzername" required>
    <input type="password" name="password" placeholder="Passwort" required>
    <button type="submit">Login</button>
</form>

<%- include('partials/footer') %>
