<%- include('partials/header') %>

<form action="/users/register" method="post">
    <input type="email" id="email" name="username" placeholder="Email" required>
    <input type="text" id="tenantId" name="tenantId" placeholder="Tenant ID">
    <input type="password" name="password" placeholder="Passwort" required>
    <button type="submit">Registrieren</button>
</form>

<script>
    document.getElementById('email').addEventListener('input', function() {
    const email = this.value;
    const domainSuggestion = suggestTenantId(email);
    document.getElementById('tenantId').value = domainSuggestion;
});

function suggestTenantId(email) {
    const domain = email.split('@')[1];
    if (domain) {
        return domain.split('.')[0];
    }
    return '';  // Rückgabe eines leeren Strings, wenn keine Domain gefunden wurde
}

</script>

<%- include('partials/footer') %>
