/* Grundlegende Stile */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f9fc;
  color: #333;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

input[type="text"], input[type="password"], select, input[type="date"] {
  width: 100%;
  padding: 10px 12px;
  margin: 8px 0;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  transition: border 0.2s;
}

button, input[type="submit"] {
  width: 100%;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: #007BFF;
  color: #ffffff;
}

button:hover, input[type="submit"]:hover {
  background-color: #0056b3;
}

nav {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5em 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  transition: color 0.2s;
  color: #007BFF;
}

nav a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .container {
    padding: 16px 8px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 8px 0;
  }
}
